body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0px 10px 10px; /* Sesuaikan padding, tambahkan ke sisi kanan */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0; /* Adjust margin */
    transition: all 0.3s ease;
    background-color: #fff;
    width: 100%; /* Set width to full */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e3844;
    padding: 10px 20px;
}

.nav-link {
    color: white; /* Set text color to white */
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    color: #ccc; /* Change text color on hover */
}

.navdiv {
    display: flex;
    align-items: center;
}

.user-section {
    display: flex;
    align-items: center;
}

.username {
    color: white; /* Set text color to white */
    font-size: 16px;
    margin-left: 15px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.logo img {
    width: 100px;
}

.nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link li {
    margin-left: 20px;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-buttons {
    display: flex;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #74C0FC;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
}

.alamat_pengguna {
    padding: 20px;
    background-color: #f9f9f9;
}

.aladiv {
    max-width: 600px;
    margin: auto;
    background-color: #274b57;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.aladiv h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.input-box input::placeholder {
    color: #999;
}

.btn1, .btn2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn1 {
    background-color: white;
    color: black;
}

.btn2 {
    background-color: white;
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .input-box input {
        width: 100%;
    }
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Added CSS for Flex Container and Half-Width Inputs */
.flex-container {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: calc(50% - 10px); /* 10px is for the margin between elements */
}